guacd-hostname localhost
guad-port 4822
api-session-timeout {{ guac_api_session_timeout }}

# MySQL properties
mysql-hostname: localhost
mysql-port: 3306
mysql-database: {{ guac_dbname }}
mysql-username: {{ guac_dbuser }}
mysql-password: {{ guac_dbpass }}
mysql-auto-create-accounts: true

# Active Directory
{% if guac_ldap_auth_state != 'disabled' %}
ldap-hostname: {{guac_ldap_hostname}}
ldap-port: {{ guac_ldap_port }}
ldap-user-base-dn: {{ guac_ldap_user_base_dn }}
ldap-search-bind-dn: {{ guac_ldap_search_bind_dn }}
ldap-search-bind-password: {{ guac_ldap_search_bind_dn_pass }}
ldap-username-attribute: sAMAccountName
ldap-user-search-filter: {{ guac_ldap_user_search_filter }}
{% endif %}

# OpenID
{% if guac_sso_auth_state != 'disabled' %}
openid-authorization-endpoint: {{ guac_openid_auth_endpoint }}
openid-jwks-endpoint: {{ guac_openid_jwks_endpoint }}
openid-issuer: {{ guac_openid_issuer }}
openid-client-id: {{ guac_openid_client_id }}
openid-redirect-uri: {{ guac_openid_redirect_uri }}
{% endif %}

{% if guac_extension_priority is defined %}
extension-priority: {{ guac_extension_priority }}
{% endif %}